@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Anta&family=Goudy+Bookletter+1911&family=Righteous&display=swap");
html {
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: #E2BFD9;

}
body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-height: 100dvh; */
  /* justify-content: space-between; */
  background-color: #E2BFD9;
}

