// !MAIN COLORS
$primary-color: #3498db;
$secondary-color: #bd10e0;
$color-3: #8a2be2;

$color-4:#F7EFE5;
$color-5:#E2BFD9;
$color-6:#C8A1E0;
$color-7:#674188;


// !TEXT COLOR
$text-color: #333;
$text-color-2:#000;

// !BACKGROUND COLORS
$background-color: #E2BFD9;
$background-color2: #191D3A;
$background-color3: #fff;
$background-color4: #f4f4f4;
$background-color5: #eee8e8f2;

// !FOOTER BACKGROUND COLOR
$footer-bg: #674188;

// !NAVBAR BACKGROUND COLOR
$navbar-bg: #F7EFE5;


// !SHADOW COLORS
$box-shadow-color: #5c54705e;

// !FORM BACKGROUND COLORS
$form-background-color: #fff;
$form-background-color-2: #304058;
$form-background-color-3: #191D3A;

// !FORM BORDER COLORS
$form-border-color: #000;
$form-border-color-2: #ddd;

// !LABEL COLORS
$label-color: #191D3A;

// !CARD BORDER COLORS 
$card-border-color: #5CECE1;
$card-border-color-2: #ddd;

// !WHATSAPP ICON COLOR
$whatsapp-color: #25d366;

// !FACEBOOK ICON COLOR
$facebook-color: #3b5998;

// !INSTAGRAM ICON COLOR
$instagram-color: #e1306c;

// !TELEGRAM ICON COLOR
$telegram-color: #0088cc;

// !TWITTER ICON COLOR
$twitter-color: #1da1f2;
$twitter-color-2: #14171a;

$error-color: #e74c3c;

$hover-color: lighten($primary-color, 10%);

$btn-color:#fff;