@import "../../../scss/abstract/mixins";

.blogPost {
  color:black &:hover {
    color: black !important;
    
}
& p,h1,h2,h3,h4,h5,h6
{
 word-wrap: break-word;
 overflow-wrap: break-word;
 word-break: break-word;
 white-space: normal;
}
& img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: .4rem;
   }
  
}
